* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utilities */

.w100{
  width: 100%;
}

.h100{
  height: 100%;
}

/* BODY */

body {
  font-family: "Fredoka", serif;
  font-style: italic;
  background-image: url('../img/cork.png');
}

header {
  display: unset;
}

header .head-container{
  background-image: url('../img/wall.png');
  position: sticky;
  top: 0;
  z-index: 10;
  height: 100%;
  
}

header h1 {
  font-size: 5.5rem;
  font-weight: 500;
}

main {  
  padding: 50px;
}

.user-card {
  background-color: white;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
}

.user-card:hover {
  cursor: default;
  transform: rotate(10deg);
  transition: all 0.3s ease-in-out 0s;
  box-shadow: rgba(0, 0, 0, 0.7) 4px 4px 6px;
  z-index: 4;
}

.pin {
  position: absolute;
  top: -2%;
  left: 50%;
  transform: translateX(-50%);
}

.text {
  padding-top: 10px;
  height: 90px;
  font-size: 1.2rem;
}

.image img{
  width: 100%;
}

/* ----------------OVERLAY------------------- */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;  
  background-color: rgba(0,0,0,0.5);
  z-index: 15;
}

#close {
  position: fixed;
  top: 10%;
  right: 30%;
}

/* LOADER */

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color:#de3500 #0000 #fff #0000;
  border-radius: 50%;
  box-sizing: border-box;
  animation: 1s rotate linear infinite;
}
.loader:before , .loader:after{
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  border: 10px solid transparent;
  border-bottom-color:#fff;
  transform: translate(-10px, 19px) rotate(-35deg);
}
.loader:after {
  border-color: #de3500 #0000 #0000 #0000 ;
  transform: translate(32px, 3px) rotate(-35deg);
}
 @keyframes rotate {
  100%{    transform: rotate(360deg)}
}





/* -----------------------RESPONSIVE----------------------------- */

@media (max-width: 992px) {
  body {
    background-size: 50%;
    background-repeat: repeat;
  }

}

@media (max-width: 576px) {
  body {
    background-size: 30%;
    background-repeat: repeat;
  }

}

